body{
    box-sizing: border-box;
    margin: 0%;
    height: 800px;
    display: grid;
    grid-template-rows: 10% 50% 35% 5%;
    .sec1{
        // height: 50px;
        width: 100%;
        background-color: white;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        p{
            font-family: cursive;
            font-size: 35px;
            padding-left: 100px;
            padding-bottom: 30px;
            padding-top: 15px;
            margin-top: 0px;
            color:  rgb(131, 48, 0);
        }
        div{
            margin-left: 400px;
            
            p{
                background-color: rgb(131, 48, 0);
                padding-left: 30px;
                padding-top: 30px;
                color: whitesmoke;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 20px;
            }
        }
        nav{
            ul{
                display: inline-block;
                padding-left: 8px;
                padding-top: 10px;
                li{
                    display: inline;                   
                    
                    a{
                        color:  rgb(131, 48, 0);
                        font-size: 20px;
                        text-decoration: none;
                        padding-left: 34px;
                        padding-right: 28px;
                        &:hover{
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .sec2{
        // width: 1200px;
        background-image: url(cover.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;   
        opacity: 0.7; 
        display: grid;
        grid-template-columns: 40% 60%;
        .des{
            display: grid;
            grid-template-rows: 70% 30%;
            .one{
                margin: 0px;
                margin-left: 150px ;
                padding-bottom: 0px;
                p{
                    color: white;
                    font-size: 200px;
                    margin-top: 40px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }
            .ann{
                margin-top: 10px;
                margin-bottom: 0px;
                padding-left: 80px;
                p{
                    color: wheat;
                    font-size: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }
        }
        .hed{
            display: grid;
            grid-template-rows: 40% 60%;
            margin-right: 250px;
            margin-bottom: 0px;
            margin-top: 50px;
            .p1{
                background-color: rgb(255, 89, 11);
                // margin-bottom: 30px;
                height: 80px;
                margin-top: 80px;
                border-radius: 9px;
                p{
                    text-align: center;
                    padding-right: 130px;
                    font-size: 30px;
                    color: white;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                }
            }
            .p2{
                background-color: rgb(136, 113, 94);
                height: 70px;
                margin-right: 50px;
                margin-top: 45px;
                margin-bottom: 0px;
                border-radius: 10px;
                p{
                    text-align: justify;
                    padding-left: 20px;
                    color: whitesmoke;
                    font-family: 'Times New Roman', Times, serif;
                }
            }
        }
    }
     .sec3{
        .gallary{
            display: grid;
            grid-template-columns: 33% 33% 33%;
            .img1{
                background-image: url(donut.jpg);
                background-repeat: no-repeat;
                height: 200px;
                align-items: center;
                margin: 40px 10px 10px 66px;
                width: 300px;
                border-top: 2px solid orangered;
                border-bottom: 2px solid orangered;
                opacity: 0.5;
                &:hover{
                    opacity: 1;
                }
                p{
                    padding-left: 10px;
                    text-decoration: underline;
                    a{
                        color: black;
                    }
                }
            }
            .img2{
                background-image: url(paste.webp);
                background-repeat: no-repeat;
                height: 200px;
                align-items: center;
                margin: 40px 10px 10px 66px;
                width: 300px;
                border-top: 2px solid orangered;
                border-bottom: 2px solid orangered;
                opacity: 0.5;
                &:hover{
                    opacity: 1;
                }
                p{
                    padding-left: 10px;
                    text-decoration: underline;
                    a{
                        color: black;
                    }
                }
            }
            .img3{
                background-image: url(jar.jpg);
                background-repeat: no-repeat;
                height: 200px;
                align-items: center;
                margin: 40px 10px 10px 66px;
                width: 300px;
                border-top: 2px solid orangered;
                border-bottom: 2px solid orangered;
                opacity: 0.5;
                &:hover{
                    opacity: 1;
                }
                p{
                    padding-left: 10px;
                    text-decoration: underline;
                    a{
                        color: black;
                    }
                }
            }
        }
    }
    .sec4{
        background-color: rgb(131, 48, 0);
        display: grid;
        grid-template-columns: 80% 20%;
        .free{
            padding-left: 980px;
            font-size: 20px;
            color: rgb(255, 203, 155);
        }
        .con{
            border-left: 2px solid rgb(131, 48, 0);
            ul{
                text-decoration: none;
                li{
                    text-decoration: none;
                }
            }
        }
    }
}